<turbo-frame id="forage">

  <div id="forage-input-container" class="row panel">
    <div class="wood-border">
      <h2>Save File</h2>
      <p>
        Select a save file to check:
        <input type="file" id="forage-file-select" />
      </p>
      <div id="forage-input-advice">
        <p>
          Please use the full save file named with your farmer's name and a 9-digit ID number
          (e.g. <code>Fred_148093307</code>);
          do not use the <code>SaveGameInfo</code> file as it does not contain all the necessary information.
        </p>
        <p>
          Default save file locations are:
        </p>
        <ul>
          <li>Windows: <code>%AppData%\StardewValley\Saves\</code></li>
          <li>Mac OSX &amp; Linux: <code>~/.config/StardewValley/Saves/</code></li>
        </ul>
        <p>
          We do not upload your file; all processing is done on your own machine.
        </p>
      </div>
    </div>
  </div>

  <div class="row center-block panel">
    <div class="wood-border">
      <h3>About this app</h3>
      <p>
        Your save file contains the locations of forageable items for the next day.
        This app reads those items spots and displays them.
      </p>
    </div>
  </div>
</turbo-frame>
