
#possibilities .list-group-item {
  padding: 5px 10px;
  border:none;
}

#loading {
  position: absolute;
  left: 50%;
  margin-left: -0.5em;
  display: none;
}

.glyphicon-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

.portrait {
  border: 3px solid transparent;
  width: 64px;
  height: 64px;
  cursor: pointer;

  &.portrait-active {
    border: 3px solid red;
  }
}

#calendars {
  @extend .row;

  h4 {
    margin-bottom: 0;
  }

  .calendar-container {
    margin-bottom: 0.5em;
    @extend .col-12;
    @extend .col-sm-6;
    @extend .col-xl-3;
  }

  .calendar {
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
  }

  .calendar-marker {
    position: absolute;
    border: 3px solid red;
    width: 35px;
    height: 35px;
  }
}
