<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#calendarModal">
    <% if @day.present? && @season.present? %>
        <%= @day.ordinalize %> of <%= @season.capitalize %>
    <% else %>
        Select Date
    <% end %>
</button>
