<% if @person.present? %>
    <div class="text-center" data-bs-toggle="modal" data-bs-target="#villagerModal">
        <%= image_tag(
                "/villager/#{@person.name}",
                class: %i[portrait],
                alt: @person.name, title: @person.name,

            ) %>
        <br/>
        <%= @person.name %>
    </div>
<% else %>
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#villagerModal">
        Select Villager
    </button>
<% end %>
