
<div class="modal" id="villagerModal" tabindex="-1" data-bs-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select Villager</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <% @people.each do |person| %>
                    <div class="panel d-inline-block person-picker">
                        <div class="bulletin">
                            <%= link_to image_tag(
                                            "/villager/#{person.name}",
                                            class: :portrait,
                                            alt: person.name, title: person.name,
                                            ),
                                        calendar_index_url(person: person.name, season: @season, day: @day)
                            %>
                            <br/>
                            <%= person.name %>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
