<div class="text-center mb-3">
  <% @people.each do |name| %>
    <%= link_to image_tag("/villager/#{name}", class: [:portrait, @person == name ? :'portrait-active' : nil ], alt: name, title: name),
                calendar_index_url(person: name, season: @season, day: @day) %>
  <% end %>
</div>
