

<div id="vue-area">
  <locations v-bind:people="<%= @locations.to_json %>"></locations>
</div>

<script type="text/javascript">
    <% if settings.development? %>
    Vue.config.devtools = true;
    <% end %>
    new Vue({ el: '#vue-area' });
</script>
