
/** Artifact Maps **/

.maps {
  .map {
    @include borderOuter;
    display: inline-block;

    > div {
      @include bulletinInterior;
      border-radius: 0;

      > h4 {
        text-align: center;

        &.artifact-needed {
          font-weight: 800;
        }
      }
    }
  }
}
