name: Upgrade Ruby

on:
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * 6"

permissions:
  contents: write
  pull-requests: write

jobs:
  upgrade-ruby:
    runs-on: ubuntu-latest
    steps:
      - uses: rickselby/ruby-upgrade-action@main
        with:
          github-token: ${{ secrets.UPGRADE_RUBY_PAT }}
